<div class="column-layout column">
  <igx-grid [data]="northwindCustomers" [allowFiltering]="true" filterMode="excelStyleFilter" [autoGenerate]="false" width="100%" height="100%" displayDensity="cosy" primaryKey="customerID" class="grid">
    <igx-column field="customerID" header="customerID" title="customerID" dataType="string" [sortable]="true"></igx-column>
    <igx-column field="companyName" header="companyName" title="companyName" dataType="string" [sortable]="true"></igx-column>
    <igx-column field="contactName" header="contactName" title="contactName" dataType="string" [sortable]="true"></igx-column>
    <igx-column field="contactTitle" header="contactTitle" title="contactTitle" dataType="string" [sortable]="true"></igx-column>
    <igx-column field="address.street" header="street" title="address.street" dataType="string" [sortable]="true"></igx-column>
    <igx-column field="address.city" header="city" title="address.city" dataType="string" [sortable]="true"></igx-column>
    <igx-column field="address.region" header="region" title="address.region" dataType="string" [sortable]="true"></igx-column>
    <igx-column field="address.postalCode" header="postalCode" title="address.postalCode" dataType="string" [sortable]="true"></igx-column>
    <igx-column field="address.country" header="country" title="address.country" dataType="string" [sortable]="true"></igx-column>
    <igx-column field="address.phone" header="phone" title="address.phone" dataType="string" [sortable]="true"></igx-column>
  </igx-grid>
</div>
<div class="column-layout column">
  <igx-grid [data]="northwindOrders" [allowFiltering]="true" filterMode="excelStyleFilter" [autoGenerate]="false" width="100%" height="100%" displayDensity="cosy" primaryKey="orderID" class="grid">
    <igx-column field="orderID" header="orderID" title="orderID" dataType="number" [sortable]="true"></igx-column>
    <igx-column field="customerID" header="customerID" title="customerID" dataType="string" [sortable]="true"></igx-column>
    <igx-column field="employeeID" header="employeeID" title="employeeID" dataType="number" [sortable]="true"></igx-column>
    <igx-column field="orderDate" header="orderDate" title="orderDate" dataType="date" [sortable]="true"></igx-column>
    <igx-column field="requiredDate" header="requiredDate" title="requiredDate" dataType="date" [sortable]="true"></igx-column>
    <igx-column field="shippedDate" header="shippedDate" title="shippedDate" dataType="date" [sortable]="true"></igx-column>
    <igx-column field="shipVia" header="shipVia" title="shipVia" dataType="number" [sortable]="true"></igx-column>
    <igx-column field="freight" header="freight" title="freight" dataType="number" [sortable]="true"></igx-column>
    <igx-column field="shipName" header="shipName" title="shipName" dataType="string" [sortable]="true"></igx-column>
    <igx-column field="shipAddress.street" header="street" title="shipAddress.street" dataType="string" [sortable]="true"></igx-column>
    <igx-column field="shipAddress.city" header="city" title="shipAddress.city" dataType="string" [sortable]="true"></igx-column>
    <igx-column field="shipAddress.region" header="region" title="shipAddress.region" dataType="string" [sortable]="true"></igx-column>
    <igx-column field="shipAddress.postalCode" header="postalCode" title="shipAddress.postalCode" dataType="string" [sortable]="true"></igx-column>
    <igx-column field="shipAddress.country" header="country" title="shipAddress.country" dataType="string" [sortable]="true"></igx-column>
  </igx-grid>
</div>
