<div class="row-layout row">
	<igx-grid [data]="northwindCustomers" [autoGenerate]="true" height="90%" class="grid" rowSelection="single" [hideRowSelectors]="true" (rowSelected)="rowSelected($event.newSelection)"  >
		<igx-column field="OrderID" header="OrderID" title="OrderID" dataType="number" class="igx-column"></igx-column>
		<igx-column field="CustomerID" header="CustomerID" title="CustomerID" dataType="string" class="igx-column"></igx-column>
		<igx-column field="EmployeeID" header="EmployeeID" title="EmployeeID" dataType="number" class="igx-column"></igx-column>
		<igx-column field="OrderDate" header="OrderDate" title="OrderDate" dataType="number" class="igx-column"></igx-column>
		<igx-column field="RequiredDate" header="RequiredDate" title="RequiredDate" dataType="number" class="igx-column"></igx-column>
		<igx-column field="ShippedDate" header="ShippedDate" title="ShippedDate" dataType="date" class="igx-column"></igx-column>
		<igx-column field="ShipVia" header="ShipVia" title="ShipVia" dataType="number" class="igx-column"></igx-column>
		<igx-column field="Freight" header="Freight" title="Freight" dataType="number" class="igx-column"></igx-column>
		<igx-column field="ShipName" header="ShipName" title="ShipName" dataType="string" class="igx-column"></igx-column>
		<igx-column field="ShipAddress" header="ShipAddress" title="ShipAddress" dataType="string" class="igx-column"></igx-column>
		<igx-column field="ShipCity" header="ShipCity" title="ShipCity" dataType="string" class="igx-column"></igx-column>
		<igx-column field="ShipRegion" header="ShipRegion" title="ShipRegion" dataType="string" class="igx-column"></igx-column>
		<igx-column field="ShipPostalCode" header="ShipPostalCode" title="ShipPostalCode" dataType="string" class="igx-column"></igx-column>
		<igx-column field="ShipCountry" header="ShipCountry" title="ShipCountry" dataType="string" class="igx-column"></igx-column>
	</igx-grid>
</div>
<div class="row-layout_1 row">
	<igx-grid [data]="northwindOrders" [autoGenerate]="false" height="90%" class="grid">
		<igx-column field="OrderID" header="OrderID" title="OrderID" dataType="number" class="igx-column"></igx-column>
		<igx-column field="CustomerID" header="CustomerID" title="CustomerID" dataType="string" class="igx-column"></igx-column>
		<igx-column field="EmployeeID" header="EmployeeID" title="EmployeeID" dataType="number" class="igx-column"></igx-column>
		<igx-column field="OrderDate" header="OrderDate" title="OrderDate" dataType="number" class="igx-column"></igx-column>
		<igx-column field="RequiredDate" header="RequiredDate" title="RequiredDate" dataType="number" class="igx-column"></igx-column>
		<igx-column field="ShippedDate" header="ShippedDate" title="ShippedDate" dataType="date" class="igx-column"></igx-column>
		<igx-column field="ShipVia" header="ShipVia" title="ShipVia" dataType="number" class="igx-column"></igx-column>
		<igx-column field="Freight" header="Freight" title="Freight" dataType="number" class="igx-column"></igx-column>
		<igx-column field="ShipName" header="ShipName" title="ShipName" dataType="string" class="igx-column"></igx-column>
		<igx-column field="ShipAddress" header="ShipAddress" title="ShipAddress" dataType="string" class="igx-column"></igx-column>
		<igx-column field="ShipCity" header="ShipCity" title="ShipCity" dataType="string" class="igx-column"></igx-column>
		<igx-column field="ShipRegion" header="ShipRegion" title="ShipRegion" dataType="string" class="igx-column"></igx-column>
		<igx-column field="ShipPostalCode" header="ShipPostalCode" title="ShipPostalCode" dataType="string" class="igx-column"></igx-column>
		<igx-column field="ShipCountry" header="ShipCountry" title="ShipCountry" dataType="string" class="igx-column"></igx-column>
	</igx-grid>
</div>
